<div class="container">
  <app-cockpit
    (svCreated)="onServerEdit($event)"
    (bpCreated)="onBluePrintEdit($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements | slice: 1"
        [srvElement]="serverElement"
      >
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <img src="https://bit.ly/3RjrnmX" style="max-height: 200px;" alt="">
</div>